@import "../../styles/styles.scss";



.cart {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__header {
    margin: 4rem auto;
    font-size: 2rem;
  }
  &__paragraph {
    margin: 3rem auto;
    font-size: 1.5rem;
  }
  &__button {
    width: 5rem;
    height: 3rem;
    margin: 0 auto;
    background-color: red;
    border: 0.3rem solid red;
    color: white;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  &__table {
    &_purchase {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 auto 1rem auto;
    }

    &_image {
      width: 4.5rem;
      height: 4.5rem;
    }

    &_description {
      display: flex;
      flex-direction: column;
      // margin: 0 auto;
      font-size: 1.1rem;
    }

    &_amount {
      width: 4.5rem;
      font-size: 1.4rem;
    }
  }
}

//modal
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #fff;

  &__paragraph {
    font-size: 2rem;
    text-align: center;
    width: 70%;
    color: #000;
    margin-bottom: 3rem;
  }

  &__button {
    width: 10rem;
    height: 4rem;

    background-color: red;
    border: 0.3rem solid red;
    color: white;
    text-decoration: none;
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}
