* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.cart {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__header {
    margin: 4rem auto;
    font-size: 2rem;
  }
  &__paragraph {
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }
  &__button {
    width: 5rem;
    height: 3rem;
    margin: auto;
    background-color: red;
    border: 0.3rem solid red;
    color: white;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;

  &__paragraph {
    font-size: 2rem;
    text-align: center;
    width: 70%;
    color: #000;
    margin-bottom: 3rem;
  }

  &__button {
    width: 10rem;
    height: 4rem;

    background-color: red;
    border: 0.3rem solid red;
    color: white;
    margin-top: 0.1rem;
  }
}
