* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
  border-bottom: 0.3rem solid black;
}
.logo {
  // margin: 0 auto;
  width: 10rem;
  height: 10rem;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // height: 20rem;
}

.link {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.link:hover {
  border-bottom: 2px solid black;
}
