@import "../../styles/styles.scss";

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
  border-bottom: 0.3rem solid black;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.link {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.link:hover {
  border-bottom: 2px solid black;
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
  }
  .logo {
    width: 6rem;
    height: 6rem;
  }
  .choice {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  .link {
    font-size: 1.2rem;

    &:last-child {
      width: 6%;
    }
  }
}
